### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

### Jekyll template
_site/
.sass-cache/
.jekyll-metadata

# Created by .ignore support plugin (hsz.mobi)

#
Gemfile
*.lock
_drafts/
